#root{
  width: 100%;
}

@font-face {
  font-family: "stolzl_bold";
  src: url("../src/assets/fonts/stolzl_bold.otf");
}
@font-face {
  font-family: "stolzl_regular";
  src: url("../src/assets/fonts/stolzl_regular.otf");
}
@font-face {
  font-family: "stolzl_medium";
  src: url("../src/assets/fonts/stolzl_medium.otf");
}

.fs-13{
  font-size: 13px;
}


.bold{
  font-family: "stolzl_bold";
  font-weight: initial;
}
.regular{
  font-family: "stolzl_regular";
  font-weight: initial;
}
.medium{
  font-family: "stolzl_medium";
  font-weight: initial;
}

.banner{
  height: 500px;
}
.white{
  color:white
}
.fs-60{
  font-size: 60px;
}

.banner-text {
      margin-top: 11.7rem;
    font-size: 60px;
    line-height: 72px;
}

.navBg{
  background-color: #293578;
}

.navSec {
    position: relative;
    align-content: center;
    height: 2.6rem;
}
.navContent{
  position:relative;
}

.navContent span{
  margin-right:2.5rem;
}

.navSec::after {
  content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background-color: white;
    transform: skewY(-110deg);
    transform-origin: left;
    z-index: 1;
}

.card-img-overlay {
  background: linear-gradient(to top, rgba(0, 0, 50, 0.7), transparent);
  color: white;
}

.orange-box {
  background-color: orange;
  width: 30px;
  height: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  margin-top: 10px;
}

.btn-primary {
  background-color: #1e1666;
}

.getintouch{
  background: linear-gradient(178deg, #07114b, #000);
}

.nav-item{
  margin-left: 32px;
}
.nav-item:last-child{
  margin-right: 11px;
}

.compText{
      margin-top: 7.2%;
    padding-left: 6.2%;
    font-size: 71px;
    line-height: 95px;

}

.orangeLine{
  display: block;
    width: 10px;
    height: 94px;
    background: orange;
}

.globalSection{
  padding-top: 6.6rem;
}
.content-box{
    margin-top: 40px;
    width: 37%;
    margin-left: auto;
    margin-right: auto;
}
.content-box h2{
  font-size:48px;
}

.content-box p{
  font-size: 20px;
    margin-top: 22px;
}

.mapSection{
  margin-top: 3rem;
    width: 83%;
    margin-left: 165px;
}
.resourceDiv{
  width: 88%;
}

.resourceContent{
      padding-left: 2rem;
    margin-top: 1.4rem;
}

.resourceContent h2{
    font-size: 48px;
}

.resourceContent p {

font-size: 16px;
    width: 75%;
}
